# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/
*.env
.venv/

# Logs
*.log


# Config and settings
default_dir/
config/
settings.yml

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
*.iml

# Python cache
*.egg-info/
*.egg
*.whl

# Temporary files
*.tmp
*.bak
*.swp
*.swo
*.~lock.*

# Archive files
*.zip
*.tar.gz
*.rar
*.7z
